<div class="container my-5">
  <h2 class="text-center">Editar Perfil</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <!-- Tarjeta de Cuenta -->
    <div class="card mb-4">
      <div class="card-header">
        <h3>Cuenta</h3>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :password %> <i>(dejar en blanco si no desea cambiarlo)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
      </div>
    </div>
    <!-- Tarjeta de Perfil Laboral -->
    <div class="card mb-4">
      <div class="card-header">
        <h3>Perfil Laboral</h3>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <%= f.label :nombre_completo, "Nombre Completo" %>
          <%= f.text_field :nombre_completo, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :foto_perfil, "Foto de Perfil" %>
          <%= f.file_field :foto_perfil, class: 'form-control' %>
          <% if @user.foto_perfil.attached? %>
            <div>
              <%= image_tag @user.foto_perfil, class: 'profile-image' %>
            </div>
          <% end %>
        </div>
        <div class="mb-3">
          <%= f.label :cv, "Subir CV (PDF)" %>
          <%= f.file_field :cv, class: 'form-control' %>
          <% if @user.cv.attached? %>
            <%= link_to "Descargar CV Actual", rails_blob_path(@user.cv, disposition: "attachment"), class: "btn btn-descargar-cv" %>
          <% else %>
            <p>No hay CV disponible para descargar.</p>
          <% end %>
        </div>
        <div class="actions text-center">
          <%= f.submit "Actualizar", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <!-- Tarjeta de Cancelación de Cuenta -->
    <div class="card mb-4">
      <div class="card-header">
        <h3>Cancelar mi cuenta</h3>
      </div>
      <div class="card-body">
        <p>Si deseas cancelar tu cuenta, ingresa tu contraseña actual para confirmar:</p>
        <%= form_for(resource, url: registration_path(resource_name), method: :delete) do |f| %>
          <div class="mb-3">
            <%= f.label :current_password, "Contraseña Actual" %>
            <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
          </div>
          <div class="text-center">
            <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Botón para volver -->
    <%= link_to "Volver", :back, class: 'btn btn-secondary mt-3' %>
  <% end %>
</div>
